{
    "extends": "airbnb-base",
    "rules": {
        "no-console": "off",
        "no-tabs": "off",
        "indent": [
            "error",
            "tab"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "consistent-return": "off",
        "object-curly-newline": [
            "error",
            {
                "ObjectExpression": {
                    "multiline": true,
                    "minProperties": 3
                },
                "ObjectPattern": {
                    "multiline": true,
                    "minProperties": 3
                },
                "ImportDeclaration": {
                    "multiline": true,
                    "minProperties": 3
                },
                "ExportDeclaration": {
                    "multiline": true,
                    "minProperties": 3
                }
            }
        ]
    }
}