{
    "extends": "airbnb-base",
    "rules": {
        "no-console": "off",
        "no-tabs": "off",
        "indent": [
            "error",
            "tab"
        ],
        "comma-dangle": [
            "error",
            "never"
        ]
    }
}